<audio src="../assets/audio/star_wars.mp3" autoplay loop></audio>

<div *ngIf="isLoading | async" class="sw-spinner">
  <mat-spinner color="primary"></mat-spinner>
  <span>Data is loading...</span>
</div>


<div *ngIf="!(isLoading | async)" class="sw-app">
  <div class="sw-header">
    <h1>STAR WARS CARD GAME</h1>
  </div>

  <div class="sw-main-content">
    <sw-form class="sw-form" (triggerFetchData)="fetchData($event)"></sw-form>
    <sw-cards
      [player1Card]="player1Card"
      [player2Card]="player2Card"
      [player1ActionValue]="player1ActionValue"
      [player2ActionValue]="player2ActionValue"
    ></sw-cards>
    <div class="sw-winner" *ngIf="winner">
      The winner is: <strong>{{ winner }}</strong>
    </div>
  </div>

  <div class="sw-scoreboard">
    <sw-scoreboard [player1Score]="player1Score" [player2Score]="player2Score"></sw-scoreboard>
  </div>
</div>


